<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title>Sistema inversiones</title>
</head>
<body>
	<h1 div class="p-3 mb-2 bg-primary text-white" style="text-align:center">Sistema inversiones</h1>

	<div class="container">
		<img src="/images/invest.png" class="rounded float-right" style="width:130px; height:128px;" align="right">
		{{#block "contenido"}}
			{{/block}}
	</div>
</body>
</html>